body { font-family: sans-serif; }
code {
    font-family: monospace;
}
pre {
    margin-left:1.5rem;
}
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
body {
    max-width: 40rem;
    margin: 0 auto;
    float: none;
    padding: 1rem;
    line-height: 1.4;
}
.date { color: gray; font-size: smaller; }
.tag { color: brown; font-size: smaller; }
.bookmark { list-style-type: none; }
