<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  {% block header %} {% endblock %}
  <title> {% block title %} EXAMPLE blog {% endblock %} </title>
</head>

<body>
    <div id='content'>
        {% block content %} {% endblock %}
    </div>

    <div id='footer'>
        <a type="application/atom+xml" rel="alternate" href="{% block feed %}/feed.xml{% endblock %}"><img src="/feed.png" alt="ATOM feed"></a>
        &nbsp;
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="/by-nc-sa.png" alt="cc-by-sa"></a>

    </div>

</body>
</html>
