{% extends "base.html" %}

{% block header %}<script>
function showTaggedOnly(requested) {
    const items = document.querySelectorAll('li');
    items.forEach(item => {
        const tags = Array.from(item.getElementsByClassName('tag')).map(x => x.textContent);
        const show = requested.every(tag => {
            return tags.some(tag2 => { return tag2 === tag || tag2.startsWith(tag + '/') })
        });

        if (show) {
            item.style.display = 'list-item';
        } else {
            item.style.display = 'none';
        }
    });
}

function showAll() {
    const items = document.querySelectorAll('li');
    items.forEach(item => {
        item.style.display = 'list-item';
    })
}

window.onhashchange = function() {
    const hash = window.location.hash;
    const params = new URLSearchParams(hash.slice(1));
    if (params.has('tags')) {
        console.log(params.get('tags'));
        const tags = params.get('tags').split(' ');
        showTaggedOnly(tags)
    } else {
        showAll()
    }
}
</script>{% endblock header %}

{% block content %}
<header>
    <a href="/">posts</a>
    | <a href="/tags/">tags</a>
    | links
</header>

<ul class="bookmarks">{% for link in links %}
    <li class="bookmark" id="{{ link.id }}">
        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
        {% for seq in link.sequence %}
        &nbsp;<a href="{{ seq }}", target="_blank">[{{ loop.index + 1 }}]</a>
        {% endfor %}
        <br/>
        <a class="date" href="#{{ link.id }}">{{ link.date }}</a> {% for tag in link.tags %}<a class="tag" href="#tags={{ tag }}">{{ tag }}</a>&nbsp;{% endfor %}
        <div class="note">{{ link.content|e("none") }}</div>
    </li>{% endfor %}
</ul>

{% endblock content %}

{% block feed %}feed.xml{% endblock %}
