{% extends "base.html" %}

{% block header %}<link href="{{ feed_path }}" type="application/atom+xml" rel="alternate"/>
<script type="module">
import { processParams, clickify } from "./view.js";

window.addEventListener("load", event => {
    processParams();
    clickify();
});

window.addEventListener("popstate", processParams);
</script>{% endblock header %}

{% block title %}{{ title }}{% endblock %}
{% block banner %}<h1 class="title">{{ title }}</h1>{% endblock %}
{% block content %}
<ul class="links">{% for item in items %}
    <li class="link_item" id="{{ item.id }}">
        <p>{% if item.is_archived %}<span title="dead">𝔄</span>{% endif %}
        <a href="{{ item.url|e }}" {% if item.is_external() %}class="bookmark" target="_blank"{% endif %}>{{ item.title }}</a>
        {% for seq_url in item.sequence %}
        &nbsp;<a href="{{ seq_url|e }}" {% if item.is_external() %}class="bookmark" target="_blank"{% endif %}><span class="screen-only">[{{ loop.index + 1 }}]<span></a>
        {% endfor %}
        {% if !item.original.is_empty() %}<a href="{{ item.original|e }}" target="_blank">🔒</a>{% endif %}
        {% if item.is_external() %}<a class="site screen-only" href="?site={{ item.site }}">({{ item.site }})</a>{% endif %}</p>
        <p class="status"><a class="date" href="#{{ item.id }}">{{ item.date }}</a> {% for tag in item.tags %}<a class="tag tag_{{ tag }}" href="?tags={{ tag }}">{{ tag }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</p>
        {% if !item.preview.is_empty() %}<div class="preview">{{ item.preview|e("none") }}</div>{% endif %}
    </li>{% endfor %}
</ul>
{% endblock content %}

{% block sidebar %}
<p class="tagcloud">{% for tagdata in tags %}
<nobr><a class="tag tag_{{ tagdata.name }} tagrank_{{ tagdata.relative_rank }}" href="?tags={{ tagdata.name }}">{{ tagdata.name }}</a></nobr>
{% endfor %}
</p>
{% endblock sidebar %}

{% block feed %}<a type="application/atom+xml" rel="alternate" href="{{ feed_path }}"><img height="15" src="feed.svg" alt="Atom feed"></a>{% endblock %}
