{% extends "base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}

<div id='header'>
    <a href="/">posts</a>{% if tag_path.len() > 1 %} | <a href="..">parent</a>{% endif %} | <a href="/links/">links</a> |
    <a class="feedbutton" type="application/atom+xml" rel="alternate" href="feed.xml">Atom feed</a>
</div>

<h1 class="title">
  {{ title }}
</h1>
<ul>
  {% for post in posts %}
  <li><a href="/{{ post.slug|e }}/">{{ post.title }}</a> | {{ post.date }} </li>
  {% endfor %}
</ul>

{% endblock content %}
