{% extends "base.html" %}

{% block header %}<script type="module">
import { processParams, clickify } from "./view.js";

window.addEventListener("load", event => {
    processParams();
    clickify();
});

window.addEventListener("popstate", processParams);
</script>{% endblock header %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="title">{{ title }}</h1>

<ul class="links">{% for item in items %}
    <li class="link_item" id="{{ item.id }}">
        {% if item.is_archived %}<span title="dead">𝔄</span>{% endif %}
        <a href="{{ item.url|e }}" {% if item.is_external() %}target="_blank"{% endif %}>{{ item.title }}</a>
        {% for seq_url in item.sequence %}
        &nbsp;<a href="{{ seq_url|e }}" {% if item.is_external() %}target="_blank"{% endif %}>[{{ loop.index + 1 }}]</a>
        {% endfor %}
        {% if !item.original.is_empty() %}<a href="{{ item.original|e }}" target="_blank">🔒</a>{% endif %}
        {% if item.is_external() %}<a class="site" href="?site={{ item.site }}">({{ item.site }})</a>{% endif %}
        <br/>
        <a class="status" href="#{{ item.id }}">{{ item.date }}</a> {% for tag in item.tags %}<a class="tag tag_{{ tag }}" href="?tags={{ tag }}">{{ tag }}</a>{% if !loop.last %}<span class="status">, </span>{% endif %}{% endfor %}
        <div class="preview">{{ item.preview|e("none") }}</div>
    </li>{% endfor %}
</ul>

{% endblock content %}

{% block feed %}<a type="application/atom+xml" rel="alternate" href="{{ feed_path }}"><img height="15" src="feed.svg" alt="Atom feed"/></a>{% endblock %}
